@{
    ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<body id="BigThumbsUpForCoffeeMyDudesAndDudettes">

	<p id="EvenBiggerDog">We started back in 1743 brewing only the best coffee known to mankind. Real testimonies below!</p>
	<p id="REAL_TESTIMONIES_BY_PEOPLE">"This stuff is terrible, how the hell are you in business?" - James Perez</p>
	<p id="REAL_TESTIMONIES_BY_PEOPLE">"What did you put in my sons decaf coffee? He's been headbutting our drywall all week" - Anonymous</p>
	<p id="REAL_TESTIMONIES_BY_PEOPLE">"Oh honey, bless your heart" - My grandmother </p>
</body>