
@{
	ViewBag.Title = "Contact";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<body id="Ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh">

	<address>
		1570 Woodward Avenue<br />
		Detroit, MI 48226<br />
		<abbr title="Phone">P:</abbr>
		(313)- 338 - 2780
	</address>
</body>