@{ 
   ViewBag.Title = "Index";
}
<p id="BigDog">WELCOME TO MY COFFEE SHOP!</p>
<p id="StandardDog">
    To register, please press the "Register" button on the top of the nav bar!
    <br />
    Or click me to <a href="http://localhost:49950/Home/Register">Register!</a>
</p>