<p id="Standard">
Give us some info to register you!
</p>
<form action="Result" method="post">
    <p>Name</p><input name="Name" />
    <p>Password</p><input name="Password" type="password" />
    <p>Age</p><input name="Age" type="number" />
    <p>Email</p><input name="Email" type="email" />
    <br /> <br /> <br />
    <input type="submit" />
</form>